/*!
    Name: socialized.css
    Author: AuRise Creative | https://aurisecreative.com
    Last Modified: September 18, 2022, at 10:27
*/

:root {
    --socialized: #333333;
    --socialized-white: #ffffff;
    --socialized-off-white: #efefef;
    --socialized-facebook: #3b5998;
    --socialized-twitter: #00aced;
    --socialized-linkedin: #007bb6;
    --socialized-instagram: #e95950;
    --socialized-instagram-blue-1: #405DE6;
    --socialized-instagram-blue-2: #5851D8;
    --socialized-instagram-purple: #833AB4;
    --socialized-instagram-pink-1: #C13584;
    --socialized-instagram-pink-2: #E1306C;
    --socialized-instagram-red: #FD1D1D;
    --socialized-instagram-orange-1: #F56040;
    --socialized-instagram-orange-2: #F77737;
    --socialized-instagram-yellow-1: #FCAF45;
    --socialized-instagram-yellow-2: #FFDC80;
    --socialized-pinterest: #e60023;
    --socialized-messenger: #00B2FF;
    --socialized-messenger-2: #006AFF;
}

.socialized-links,
.socialized-links *,
.socialized-sticky-wrapper {
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.socialized-sticky-wrapper {
    display: block;
    height: auto;
    overflow: visible;
}

.socialized-links {
    display: block;
    text-align: center;
    cursor: default;
}

.socialized-links:after,
.socialized-sticky-wrapper:after {
    content: '';
    display: block;
    width: 100%;
    height: 0;
    clear: both;
}

.socialized-links .share-text {
    display: block;
    width: 100%;
    font-size: 1.2em;
    font-weight: 700;
}

.socialized-links .share-text.screen-reader-text {
    overflow: hidden;
    width: 1px;
    height: 1px;
    position: absolute;
    top: -1000px;
    left: -1000px;
    z-index: -1000;
    opacity: 0;
    cursor: default;
}

.socialized-links .socialized-link-wrapper {
    display: inline-block;
    margin: 0 0.5em 0;
    vertical-align: middle;
    position: relative;
}

.socialized-links .socialized-link-wrapper a.socialized-link {
    display: block;
    text-decoration: none;
    border: none;
    outline: none;
    font-size: 1em;
    line-height: 1.2;
    cursor: pointer;
}

.socialized-links:not(.icon-type-text) .socialized-link-wrapper a.socialized-link {
    font-size: 18px;
    line-height: 32px;
    width: 32px;
    height: 32px;
}

.socialized-links .socialized-link-wrapper a.socialized-link img {
    display: block;
    margin: 0;
    padding: 0;
    width: 32px;
    height: auto;
    max-width: 100%;
    border: none;
    outline: none;
}

.socialized-links:not(.icon-type-png) .socialized-link-wrapper a.socialized-link {
    background: var(--socialized);
    color: var(--socialized-white);
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.socialized-links.icon-type-text .socialized-link-wrapper a.socialized-link {
    border: 2px solid var(--socialized);
    margin-top: 0.5em;
    font-size: 14px;
    padding: 3px 15px;
    font-weight: 700;
}

.socialized-links:not(.icon-type-png) .socialized-link-wrapper.facebook a.socialized-link {
    background: var(--socialized-facebook);
    border-color: var(--socialized-facebook);
}

.socialized-links:not(.icon-type-png) .socialized-link-wrapper.twitter a.socialized-link {
    background: var(--socialized-twitter);
    border-color: var(--socialized-twitter);
}

.socialized-links:not(.icon-type-png) .socialized-link-wrapper.linkedin a.socialized-link {
    background: var(--socialized-linkedin);
    border-color: var(--socialized-linkedin);
}

.socialized-links:not(.icon-type-png) .socialized-link-wrapper.pinterest a.socialized-link {
    background: var(--socialized-pinterest);
    border-color: var(--socialized-pinterest);
}

.socialized-links.icon-type-fontawesome .socialized-link-wrapper a.socialized-link:active,
.socialized-links.icon-type-fontawesome .socialized-link-wrapper a.socialized-link:focus,
.socialized-links.icon-type-fontawesome .socialized-link-wrapper a.socialized-link:hover {
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    -webkit-border-radius: 40px;
    border-radius: 40px;
}

.socialized-links.icon-type-text .socialized-link-wrapper.facebook a.socialized-link:active,
.socialized-links.icon-type-text .socialized-link-wrapper.facebook a.socialized-link:focus,
.socialized-links.icon-type-text .socialized-link-wrapper.facebook a.socialized-link:hover {
    background: var(--socialized-white);
    color: var(--socialized-facebook);
}

.socialized-links.icon-type-text .socialized-link-wrapper.twitter a.socialized-link:active,
.socialized-links.icon-type-text .socialized-link-wrapper.twitter a.socialized-link:focus,
.socialized-links.icon-type-text .socialized-link-wrapper.twitter a.socialized-link:hover {
    background: var(--socialized-white);
    color: var(--socialized-twitter);
}

.socialized-links.icon-type-text .socialized-link-wrapper.linkedin a.socialized-link:active,
.socialized-links.icon-type-text .socialized-link-wrapper.linkedin a.socialized-link:focus,
.socialized-links.icon-type-text .socialized-link-wrapper.linkedin a.socialized-link:hover {
    background: var(--socialized-white);
    color: var(--socialized-linkedin);
}

.socialized-links.icon-type-text .socialized-link-wrapper.pinterest a.socialized-link:active,
.socialized-links.icon-type-text .socialized-link-wrapper.pinterest a.socialized-link:focus,
.socialized-links.icon-type-text .socialized-link-wrapper.pinterest a.socialized-link:hover {
    background: var(--socialized-white);
    color: var(--socialized-pinterest);
}


/* Sticky Buttons */

.socialized-sticky-wrapper .socialized-links {
    display: block;
    width: 32px;
    position: sticky;
}

.socialized-sticky-wrapper .socialized-links.js-is-sticky {
    position: fixed;
}

.socialized-sticky-wrapper .socialized-links .socialized-link-wrapper {
    display: block;
    margin: 0 0 0.5em;
}

.socialized-sticky-wrapper .socialized-links .socialized-link-wrapper:last-child {
    margin-bottom: 0;
}


/* Sticky Buttons Left */

.socialized-sticky-wrapper.stick-left {
    padding-left: 45px;
}

.socialized-sticky-wrapper.stick-left .socialized-links {
    float: left;
    margin-left: -45px;
}


/* Sticky Buttons Right */

.socialized-sticky-wrapper.stick-right {
    padding-right: 45px;
}

.socialized-sticky-wrapper.stick-right .socialized-links {
    float: right;
    margin-right: -45px;
}


/* Copied Popup */

.socialized-link-wrapper.vanity-url .copied-popup {
    position: relative;
    display: block;
    width: auto;
    background: var(--socialized-off-white);
    position: absolute;
    top: 105%;
    left: -10px;
    white-space: nowrap;
    font-size: 11px;
    line-height: 1;
    font-weight: 700;
    padding: 5px;
    opacity: 1;
    cursor: default;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-transition: 0.3s all ease-in-out;
    -ms-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
    -webkit-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out;
}

.socialized-link-wrapper.vanity-url .copied-popup:before {
    content: '';
    display: block;
    position: absolute;
    top: -5px;
    left: 30%;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid var(--socialized-off-white);
}

.socialized-link-wrapper.vanity-url .copied-popup.hidden {
    opacity: 0;
    top: 130%;
}